*
{
    background-color: ghostwhite;
    
}

.container
{
    background-color: black;
    width: 45%;
    height: 640px;
    margin-left: 28%;
    margin-top: 8%;
    border-radius: 15px;

    
}

.ltext
{
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  padding-top: 20px;
}

.loginbutton
{
 margin-left: 27%;
 margin-top: 10px;
 width: 300px;
 height: 50px;
 border-radius: 30px;
 font-size: 20px;
}

hr
{
  width: 290px;
  margin-top: 20px;
}

.sutext
{
  background-color: black;
  color: white;
  margin-left: 35%;
}

input
{
  background-color: black;
  color:white;
  width: 300px;
  height: 50px;
  border-radius: 3px;
  margin-left: 27%;
  margin-top: 20px;
  border-color: ghostwhite;
  border-width: 0.5px;
  font-size: 13px;
}

u
{
  margin-left: 27%;
  background-color: black;
  color: white;
}

.finalbutton1
{
  height: 40px;
  width: 120px;
  margin-left: 135px;
  border-radius: 30px;
  text-align: center;
}
